#map {
  height: 100%;
  width: 100%;
  background-color: red;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-blanker {
  width: 100vw;
  height: 100vh;
  background-color: #f2cb98;
  text-align: center;
  padding-top: 50%;
  color: #8a394f;
}

.hidden {
  display: none
}
